.todoItem {
    border: 1px solid #2d767f;
    width: 80%;
    margin: auto;
    padding: 8px;
}

@media (min-width:200px) and (max-width:800px){
    .todoItem {
        width: 80%;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .todoItem {
        width: 70%;
    }
}

